.build/
.builds/
.cache/
.history/
.idea/
.idea_modules/
.vs/
.vscode/
Generated\ Files/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Ww][Ii][Nn]32/
bld/
build/
builds/
cache/
cmake-build-*/
ipch/
node_modules/
out/
x64/
x86/
*.VC.VC.opendb
*.VC.db
*.a
*.app
*.aps
*.autosave
*.cab
*.cachefile
*.code-workspace
*.d
*.dll
*.dsp
*.dsw
*.dylib
*.e2e
*.exe
*.gch
*.ilk
*.iobj
*.ipdb
*.iws
*.jsc
*.la
*.lai
*.lib
*.lo
*.log
*.meta
*.moc
*.mod
*.msi
*.msix
*.msm
*.msp
*.ncb
*.o
*.obj
*.opendb
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.plg
*.prl
*.pro.user
*.pro.user.*
*.psess
*.qbs.user
*.qbs.user.*
*.qm
*.qmlc
*.qmlproject.user
*.qmlproject.user.*
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.slo
*.smod
*.so
*.so.*
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*_h.h
*_i.c
*_p.c
*_plugin_import.cpp
*_qmlcache.qrc
*_wpftmp.csproj
*creator.user*
.builds
.ntvs_analysis.dat
CMakeLists.txt.user*
Makefile*
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
compile_commands.json
crashlytics-build.properties
crashlytics.properties
fabric.properties
moc_*.cpp
moc_*.h
mono_crash.*
object_script.*.Debug
object_script.*.Release
qrc_*.cpp
target_wrapper.*
ui_*.h
